@model IEnumerable<MyMatrimony.Models.tblMember>

@{
    ViewBag.Title = "Member List";

    //Model = Model.Take(5);
}

<script type="text/javascript">
    $(document).ready(function () {

        // Shortlist button click
        $("button[value=Shortlist]").off('click').on('click', function () {
            var btnShortlist = $(this);
            var spanShortlist = $(this).children("span[data-myvalue=Shortlist]");
            var alertModelId = $(this).prop("name");
            
            // Change Shortlist button style outline/solid
            btnShortlist.toggleClass("btn-outline-danger").toggleClass("btn-danger");

            // Alert object
            var alertShortlist = $("#" + alertModelId);
            if (btnShortlist.hasClass("btn-outline-danger")) {
                spanShortlist.text("Shortlist");
                alertShortlist.children('strong[id=shortlistText]').text("removed from");
                alertShortlist.children('h3').text('Removed from Shortlist');
                // Show Alert
                alertShortlist.parent('div').removeClass('d-none'); 
                
                setTimeout(function () {
                    alertShortlist.parent('div').addClass('d-none');
                }, 3000);
            }
            else {
                spanShortlist.text("Shortlisted");
                alertShortlist.children('strong[id=shortlistText]').text("added to");
                alertShortlist.children('h3').text('Added to Shortlist');
                // Hide Alert
                alertShortlist.parent('div').removeClass('d-none'); 

                setTimeout(function () {
                    alertShortlist.parent('div').addClass('d-none');
                }, 3000);
            }
        });

        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        });
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>

<h2>Member List</h2>

@Html.DisplayForModel()
